<h1>Change Password</h1>
<%= form_with(model: current_user, url: password_path(current_user), local: true) do |f| %>
  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= f.password_field :password_challenge, placeholder: "Current Password" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "New Password" %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: "Confirm New Password" %>
  </div>
  <%= f.submit "Submit", disable_with: 'Submitting...' %>
<% end %>